/* ================================
    Base Element Styles
   ================================ */
* {
  box-sizing: border-box;
/*  border: 1px solid red;*/
}

body {
  background-color: #f5f5f5;
  color: #2b2b2b;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

header {
  background-color: #192f41;
  color: #f5f5f5;
  padding: 25px 0;
  box-shadow: 0 2px 10px 0 #060b10; 
}

header,
section {
  font-family: 'Martel', serif;
  text-align: center;
}

h1, h5 {
  margin: 0;
}

p {
  color: #696969;
}

form,
section {
  padding: 20px 3%;
}

form {
  background-color: #f5f5f5;
  margin: 0 5%;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(25, 47, 65, 0.5);
}

hr {
  border-color: #192f41;
  border-width: 4px;
}

fieldset {
  border: none;
}

legend {
  font-family: 'Martel', serif;
  font-size: 1.35rem;
  font-weight: 800;
  padding: 25px 0 20px;
}

label,
input,
select,
textarea {
  font-size: 1.2rem;
  color: #696969;
}

input:not([type="checkbox"]):not([type="radio"]):not([name="zip"]),
select,
textarea {
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../img/icon-arrow-down.svg") no-repeat 96% center;
  background-size: 24px;
}

input,
select,
textarea {
  border: none;
  border-radius: 6px;
  outline-color: #192f41;
  padding: 12px 30px;
  background-color: rgba(222, 222, 222, 0.5);
  margin: 12px 0 20px;
}

input:placeholder-shown {
  text-align: right;
  font-style: italic;
}

input:focus {
  text-align: left;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

input[type="checkbox"]:last-of-type,
input[type="radio"]:last-of-type {
  margin-bottom: 40px;
}

section:last-of-type {
  font-style: italic;
}

button {
  display: block;
  width: 50%;
  background-color: #41c1b7;
  color: #f5f5f5;
  font-family: 'Martel', serif;
  font-size: 1.35rem;
  margin: 35px auto;
  padding: 15px 0;
  border: 1px solid #41c1b7;
  border-bottom: 5px solid #2d8982;
  border-top: 5px solid #41c1b7;
  border-radius: 6px;
  outline: none;
  transition: all .3s;
}

button:hover {
  opacity: 0.75;
}

button:active {
  transform: scale(0.95);
  opacity: 1;
}

/* ================================
    Base Layout Styles
   ================================ */

/* --------- Navigation -------- */



/* ----- Layout Containers ----- */



/* ------- Form Elements ------- */

.label-header {
  display: inline-block;
  margin-bottom: 15px;
}

#other-topics {
  resize: none;
  margin-bottom: 0px;
}

/* ================================
    Media Queries
   ================================ */

@media only screen and (min-width: 768px) {
  
  
}



/* ================================
    Helper Classes
   ================================ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ================================
    Print Styles
   ================================ */

@media print {

    
}


